.input-com{
  display: flex;
  justify-content: center;
  .container{
    display: block;
    width: 70px;
  }
  .img{
    margin-top: 20px;
    width:500px;
    height:500px;
    display: block;
    border:1px dotted indianred;
  }
  .input-footer{
    top: 20px;
    display: flex;
    justify-content: flex-end;
    .iconafter('\e639',17px);
  }
}
.iconafter(@font,@size) {
  &::after {
    content: @font;
    font-family: 'iconfont';
    font-size:@size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
  }
}
