@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1564040382009'); /* IE9 */
  src: url('iconfont.eot?t=1564040382009#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJsAAsAAAAABhgAAAIiAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAokSAE2AiQDCAsGAAQgBYRtBy4bbAXInpo8KVITzY/hmKGngwE4Ivh+v9+e++5XTahFomgWTWQSJEoiQUtUhhIJxUv4+6z99s1D3evfEE2mSfvJdue7txuW8JYJiUdIhAghATjkgOl+xAQiaV7mfLX7PJfTuwZQIPN7w2WMQWsMGkC9OKBA98AosgIKuWHsghf4mEDdjLHKycHZJbRl9qpAPESBA+1CQJZZuiqUGw5m8aqkmp5TgZfo+/FvMdokpYJddX6/78PWFyereJo8uQsIQQI6XkKBLSAT142JUzXBGDX103ULQJYFXyYTbBdHtQj219mlTTAFk8EXb6UACR6LYrg1qYooP/HllcPz9bi6dnT8tyiwwxYOpI8U/Kvgba432nm1kcFnfEbmbJiL6nbO4PtlAweyobBtKWuyxvGkfNy2ujomsKfvd6pxdLFMqBpNcFVMZyhULZGZvoWShm2UVe2jbtPh8YYBVRO5hg3vAKHrA0nbOwpd32Sm/6Bk7B9l3aih7jYGFzasRNQ9VnKMfHQfMPIkZ9dh3bj8nIKb1NG8ImJek5ZRGBem83L6kHLSJbaUt8GiGSOrZHgAnqM0FSxUYvJsGpoVm7MZN71p6kkGXccUcRjiQ64HKOIROQ4mm27l8+dI4EbKoR19deFrRJWi2dGCqfkA8lCbD+p7lFdKtwKLjGGIKZFBB2AeSaUEKprnxYjHTIUTYoVNM2cUD9VOt9dnf3cK6mxTCqe+kB9FCQA=') format('woff2'),
  url('iconfont.woff?t=1564040382009') format('woff'),
  url('iconfont.ttf?t=1564040382009') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1564040382009#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e639";
}

